@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&family=Overpass:wght@400;700&display=swap');
@import './mixins.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;


p{
  margin-bottom: 30px;
}

.dark--blue-block{
  &:before {
    content:"";
    position: absolute;
    background-color: #101D24;
    height: 100%;
    width: 60vw;
    z-index: -1;
  }
}
.cta{
  &:hover {
		.arrow-icon {
      transform: translateX(50%);
		}
}
}

